<!-- Help page 
  This application is using Angular JS
-->

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">NanoGrav</a>  
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav">
				<li><a href="#/introduction">Introduction<span class="sr-only">(current)</span></a></li>
				<li><a href="#/analysis">Analysis <span class="sr-only">(current)</span></a></li>
				<li><a href="#/help">Help <span class="sr-only">(current)</span></a></li>
				<li><a href="#/mostrecent">Most Recent Stochastic Background Results <span class="sr-only">(current)</span></a></li>
				<li><a href="#/CW"> CW F-Statistic Results <span class="sr-only">(current)</span></a></li>
				<li class="active"><a href="#/about">About <span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</div>
</nav>	

<div class="view-body container-fluid">
	<br>
	<div class="row col-md-offset-1 col-md-8 summary">
		<h4><font color="6C1919" size="18px">About</font></h4>
		<div class="row col-md-8 border-left">
		<hr>
			<p class="introduction">
			<p style="text-align: center;"><strong>The Bridge was founded in 2015 by the following team with the vision of making NANOGrav’s data, data products, and data analysis tools globally available to researchers of all skill levels:</strong>
			</p>	
	        <p class="introduction">
			<p style="text-align: center;">Director:&nbsp; Andrea Lommen </p>	
			<p style="text-align: center;">Process Manager:&nbsp; Joseph Lazio </p>	
			<p style="text-align: center;">Gravitational Wave Wrangler:&nbsp; Chiara Mingarelli </p>	
			<p style="text-align: center;">Systems Administrator:&nbsp; Nathaniel Garver-Daniels</p>
			<p style="text-align: center;">Software Designer:&nbsp;Justin Ellis</p>
			<p style="text-align: center;">&nbsp;Front End Developer:&nbsp;Shakeh Khudikyan</p>
			<p style="text-align: center;">Student Designer:&nbsp;Yaoyue Liang, Filip Keri, and Caitlin Rose</p>

			<p>




			</p>

		</div>
	</div>
</div>
