<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>North American Nanohertz Observatory for Gravitational Waves</title>
  <meta name="description" content="Write an awesome description for your new site here.
">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="http://bridge.nanograv.org/">
  <link rel="alternate" type="application/rss+xml" title="North American Nanohertz Observatory for Gravitational Waves" href="http://bridge.nanograv.org/feed.xml" />
  

</head>


  <body>
 
    <div class="container-fluid nanograv-body">

        <div class="nanograv-sidebar col-xs-12 col-md-2">
     
   	   <ul class="nav nav-stacked">
	    <li><a href="#/introduction">Introduction</a></li>
	    <li><a href="#/analysis">Analysis Portal</a></li>
	    <li><a href="#/mostrecent">Recent Analysis</a></li>
            <li><a href="#/help">Help</a></li>
            <li><a href="#/about">About</a></li>
           </ul> 

        </div>

	<div class="nanograv-main-content col-xs-12 col-md-10">
     

<div class="row">
  <div style="box-shadow: 0px 3px 5px #888888;" class="col-sm-12">
   
    <img class="img-responsive" src="http://bridge.nanograv.org/assets/img/brand/nanograv-banner.png">
  </div>
</div>
<div class="row">
    <section class="talks">
    <div class="talks-description">
    <p>Welcome to the Bridge, NANOGrav's analysis portal for scientists and non-scientists alike. We will show you how to use our tools to reproduce our recent results, and you can also run analyses of your own. Join us while we explore the nanohertz regime of the gravitational wave spectrum.</p>
      <span class="pull-right"><a href="#/introduction">Read More...</a></span> 

    <div class="row">
     <div class="col-xs-12">
     <img class="img-responsive" src="/assets/img/spectrum.png">
     </div>
    </div>
    </div>
    </section>
  </div>

      
    </div>
  </div>
</div>

</div>





        <div class="row">
          <div class="col-sm-12">
	  </div>
        </div>
    </div>

  </body>

</html>

